body{
    margin: 0; line-height: 1.5; font-size: 1rem; color: #333; 
    letter-spacing: .05em;font-family: 'Avenir',
    'Helvetica Neue','Helvetica','Arial','Hiragino Sans',
    'ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,
    'ＭＳ Ｐゴシック','MS PGothic'; width: 100%;
    
}
*, ::after, ::before{box-sizing: border-box;}
a{text-decoration: none; color: #fff;}
li{list-style: none; font-weight: bold;}
ul{padding: 0; margin: 0;}
.wc{height: 1500px; width: 100%; position: absolute; 
    z-index: -100;  top: ; background: url(modan2.jpg) center center/cover fixed;}
.work-contact{min-height: 100vh; position: relative; 
   overflow: hidden;
    }
p{margin: 0; line-height: 2.5;}
.site-nav{
    width: 100%; height: 60px; position: fixed;
    background-color: rgba(69, 180, 253, 0.6); 
      z-index: 4;  
}
.site-nav-list{ 
    display: flex; justify-content: center; height: 60px;
    position: relative; margin: auto; align-items: center; padding: 0 50px;
 }
 .nav-item{
    margin: 4px; text-align: center; color: white; }
.nav-item.etc{display: none;}
.nav-item.aaa{display: none; 
    text-align: center;
     }

.nav-item.etc > ul{
    position: absolute; transition: all .5s ease;
    visibility: hidden; opacity: 0; z-index: 9999;
     display: flex; flex-wrap: wrap; 
    justify-content: center;
    left: 0; width: 100%;
}
.nav-item.etc > ul > li{margin: 10px ;
    height: 130px; width: 130px; outline: 2px solid black; color: white;}
.thankyou{min-width: 100%; max-height: 30px; background: red;}
.nav-item:hover a{color: red;}
.nav-item:hover ul{ opacity: 1; 
visibility: visible; }



.profile-skill{background: #ebecf0;}
.profile-area{display: flex; flex-wrap: wrap; position: relative; 
    align-items: center; justify-content: center; margin: 0 auto; flex-direction: column;}
.profile-area > img{
    position: absolute; left: 10%; width: 100px; height: 100px; border-radius: 50%;}

h4{font-size: 1.5rem; text-align: center; margin: 0;}
.twitter-link{color: lightskyblue;}
h1{text-align: center; font-family: oswald, sans-serif; font-weight: bold; font-style: normal; color: #444;
padding: 60px 0 0 0; font-size: 3rem; margin: 0;
}


     .top-scroll{border-radius: 50%; text-align: center;
    background-color: rgba(69, 180, 253, 1); 

   text-shadow: 1px 1px 2px #000;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;

    -webkit-box-shadow: 2px 2px 3px 1px #666;
    font-weight: bold; font-size:1.0rem; z-index: 999; 
    bottom: 20px; position: fixed; right: 0; width: 50px; 
    height: 50px; margin: 5px;}

.top-scroll:hover a{color: red;}

.logo{margin-right: auto}

h2{ 
    margin: 0;  width: 200px; text-align: center; 
    font-size: 7rem; position: absolute;
    top: 50%; display: flex; justify-content: center;
    left: 50%; align-items: center;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%,-50%);
    
}
h2 > .bable-item{ position: absolute;

     transform: scale(10);

}
.work-frame > ul > li{width: 100px; height: 100px;}

.contact-frame{ margin: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;}
input,textarea{margin: 10px; border: 2px solid ; height: 40px;
     border-radius: 10px; font-family: inherit; font-weight: bold;
    
    }
textarea{resize: none; height: 200px;  width: 100%; max-width: 800px; 
    margin: 10px auto ; padding: 10px; text-align: start; font-size: 1.5rem;}
::placeholder{text-align: center;}
 button{bottom: 10px; margin: 0 auto 10px auto;}
footer{display: flex; flex-wrap: wrap; justify-content: center;
background: #212529;
}
*:focus{outline: none;}
small{width: 100%; color: white; text-align: center;}

input:focus{border:2px solid blue;}
.yourmessage :focus{border:2px solid blue;}
/* ipad */
@media (max-width: 1024px) {
    
     /* .bable-item{transform: scale(12);} */
    
}
/*  */
@media (max-width: 800px) {
    
     /* .bable-item{transform: scale(10);} */
}
/* スマホ */
@media (max-width:414px){
    .site-nav{height: 55px;}
    /* .bable-frame > h2 > .bable-item{transform: scale(4.5);  top: 40%;}
    .bable-item > h2{font-size: 0.2rem; text-align: center;} */
    .site-nav{bottom: 0;}
    .profile-area{text-align: center; display: block;}
    .top-scroll{bottom: 54px;}
    i{width: 100%;}
    .circle-content > img{width: 48px; height: 48px;}
    .logo{display: none;}
    .nav-item.etc{display: block;}
    .site-nav-list{padding: 0;}
    .etc >ul{bottom: 50px;}
    button{margin: 0 auto 60px auto; }
    footer{display: none;}
    h1{margin: 0;}
    .bable-item{transform: scale(5);}
    h2 > .bable-item{transform: scale(4);}
    h2{font-size: 3rem;}
    .profile-area > img{position: relative; left: auto;}
}

